* {
  box-sizing: border-box;
  margin: auto;
  font-family: sans-serif, "Times New Roman";
}
.title{
  font-size: 25px;
}
.font{
  font-size: 18px;
}
body .header {
  width: 100%;
  margin-top: 0;
  height: 80px;
  background-color: #741691;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
#search-grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 90%;
   margin-top: 50px;
   align-self: center;
   height: auto;
}
#search-grid div{
  padding: 15px;
  width: 90%;
  margin: 0px 10px;
}
#search-grid div input{
  width: 180px;
  height: 35px;
  border: none;
}
#search-grid>div{
  border: 1px solid black; 
  border-radius: 10px;
  background-color: #ebe8e8;
}
#display1{
  display: none;
  width: 400px;
  height: auto;
  margin-top: 50px;
  border: 1px solid black;
}
.nested-grid {
  display: grid;
  width: 400px;
  height: auto;
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 40px;
}
#display1 div, .nested-grid div{
  padding: 5px 10px;
  height: auto;
  margin: 0px;
}
#display1 img, .nested-grid img{
  width: 378px;
  height: 250px;
  margin-top: 5px;
}
#btn{
  display: none;
  text-align: center;
  padding: 20px;
}
.btn-div{
  text-align: center;
  padding: 20px;
}
#btn button, .btn-div button{
  padding: 10px 20px;
  background-color: #741691;
  color: #ffffff;
}
#display2, #display3{
  display: none;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.width1{
  width: 1000px;
}
.width2{
  width: 400px;
}
@media only screen and (max-width: 600px){
  #search-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 30px 10px;
  }
  #search-grid div{
    width: 100%;
  }
  #display2, #display3{
    grid-template-columns: 1fr;
    width: 400px;
  }
}

